 Gray Color: #585656 */

/* Main Styles */
* {
	padding: 0px;
	margin: 0px;
}

body {
	width: 100%;
	height: 100%;
	margin: 0px;
	background-color: #585656;
}

.small_link {
	color: white;
}

#sign_in, #register, #upload {
	background-color: #585656;
	color: white;
}

/*Side Navigation */
#side_navigation {
	background-color: #585656;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 15%;
	height: 100%;
	border-right-style: solid;
	border-right-width: 5px;
	border-right-color: #1db92d;
	text-align: center;
	z-index: 4
}

.side_container {
	height: 100px;
	margin-bottom: 50px;
	margin-left: 10%;
	margin-right: 10%;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #1db92d;
}

.nav_bar_link {
	font-size: 36px;
	text-decoration: none;
	color: white;
}

/* Top Bar */
#top_bar {
	background-color: white;
	width: 85%;
	height: 20%;
	position: absolute;
	right: 0px;
	top: 0px;
}

#upper_top_bar {
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #1db92d;
}

#lower_top_bar {
	margin-left: 2%;
}

#top_bar a {
	font-size: 20px;
	text-decoration: none;
	color: black;
}

#page_title {
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 5%;
	font-size: 48px;
	color: #1db92d;
	width: 25%;
}

#upload_button {
	float: right;
	margin-right: 50px;
	margin-top: 15px;
	width: 10%;
}

#update_profile {
	/*position: absolute;
	right: 0px;*/
}

.name {
	font-size: 36px;
	color: #1db92d;
}

#profile_info li {
	list-style-type: none;
}

/* Sign In and Sign up*/
#sign_in, #register, #update, #upload {
	width: 20%;
	height: 100%;
	margin: auto;
	text-align: center;
}

#update {
	color: white;
	width: 30%;
}

/* Forms */
.input_name {
	font-size: 18px;
	padding: 4px;
}

.input_sizing_box, #user_form p, #upload_form p {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 30px;
}

.button {
	width: 50%;
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor: pointer;
    clear: both;
    float: none;
    font-size: 18px;
    border-style: solid;
    font-weight: 300;
    border-width: 3px;
    border-radius: 10px;
    border-color: #20b52f;
    text-align: center;
}

input {
	border-radius: 10px;
	outline: 0;
	font-size: 18px;
	width: 60%;
}

.input_name {
	width: 25%;
	float: left;
}

.input_header {
	text-decoration: underline;
	font-size: 48px;
	text-align: center;
	font-weight: 100;
}

/* Stream */
.stream_content_area {
	background-color: white;
	position: absolute;
	top: 20%;
	left: 15%;
	height: 80%;
	width: 85%;
}

#stream {
	background-color: white;
	position: absolute;
	top: 20%;
	left: 15%;
	height: 80%;
	width: 85%;
}

.stream_item {
	padding-left: 10%;
	font-size: 24px;
	border-bottom-style: dashed;
	border-bottom-width: 3px;
	border-bottom-color: #1db92d;
}

.item_name {
	color: #1db92d;
	font-size: 30px;
}

#no_auth {
	background-color: #585656;
	position: absolute;
	top: 0px;
	left: 15%;
}

.no_auth_text {
	padding-left: 50px;
	color: white;
}

.helptext {
	clear: both;
	display: none;
}