 Gray Color: #585656 */

/* Main Styles */
* {
	padding: 0px;
	margin: 0px;
}

body {
	width: 100%;
	height: 100%;
	margin: 0px;
}

#sign_in, #register {
	width: 100%;
	height: 100%;
	background-color: #585656;
	color: white;
}

/*Side Navigation */
#side_navigation {
	background-color: #585656;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 15%;
	height: 1200px;
	border-right-style: solid;
	border-right-width: 5px;
	border-right-color: #1db92d;
	text-align: center;
}

.side_container {
	height: 100px;
	margin-bottom: 50px;
	margin-left: 10%;
	margin-right: 10%;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #1db92d;
}

.nav_bar_link {
	font-size: 36px;
	text-decoration: none;
	color: white;
}

/* Top Bar */
#top_bar {
	width: 85%;
	height: 100%;
	position: absolute;
	right: 0px;
	top: 0px;
}

#upper_top_bar {
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #1db92d;
}

#page_title {
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 5%;
	font-size: 48px;
	color: #1db92d;
}

#upper_top_bar a {
	float: right;
}

/* Sign In and Sign up*/
#sign_in, #register {
	width: 20%;
	height: 100%;
	margin: auto;
	text-align: center;
}

/* Forms */
.input_name {
	font-size: 18px;
	padding: 4px;
}

.input_sizing_box, #user_form p {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 30px;
	text-align: center;
}

.button {
	width: 50%;
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor: pointer;
    clear: both;
    float: none;
    font-size: 18px;
    color: white;
    border-style: solid;
    font-weight: 300;
    border-width: 3px;
    border-radius: 10px;
    border-color: #20b52f;
}

input {
	border-radius: 10px;
	outline: 0;
	font-size: 18px;
	width: 60%;
}

.input_name {
	width: 25%;
	float: left;
}

.login_header {
	text-decoration: underline;
	font-size: 48px;
	text-align: center;
	font-weight: 100;
}

.helptext {
	clear: both;
	display: none;
}

/* Profile Page */

