{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title %}Log in{% endblock %}

{% block body_block %}
	<div id="sign_in">
		<img class="logo" src="{% static 'images/social_music_logo.svg' %}" alt="logo">
	    <h1 class ="login_header">Sign In</h1>

	    <form id="login_form" method="post" action="/rango/login/">
	        {% csrf_token %}
	        <div id="username_input" class="input_sizing_box">
	        	<span class="input_name"> Username: </span> <input class="rounded" type="text" name="username" value="" size="50"/>
    		</div>
    		<div id="password_input" class="input_sizing_box">	
	        	<span class="input_name"> Password: </span> <input class="rounded" type="password" name="password" value="" size="50"/>
        	</div>
        	<div class="input_sizing_box">
	        	<input class="button" type="submit" value="Submit"/>
        	</div>
	    </form> 
		<div class="input_sizing_box">
	    	<span id="to_register"> Not a User? <a class="small_link" href="{% url 'register' %}">Register Here</a> </span>
    	</div>
    </div>
{% endblock %}