{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title %}{{ user.username }}{% endblock %}

{% block body_block %}
    <div id="side_navigation">
    	<div class="side_container">
			<img class="logo" src="{% static 'images/social_music_logo.svg' %}" alt="logo">
		</div>
		<div class="side_container">
			<a class="nav_bar_link" href="{% url 'register' %}"> Garages </a>
		</div>
		<div class="side_container">
			<a class="nav_bar_link" href="{% url 'profile' %}"> Profile </a>
		</div>
		<div class="side_container">
			<a class="nav_bar_link" href="{% url 'logout' %}"> Log Out </a>
		</div>
    </div>

    <div id="top_bar">
    	<div id="upper_top_bar">
	    	<p id="page_title"> Profile </p>
	    	
		</div>
		<div id="lower_top_bar">
			<span class="name"> {{ user.first_name }} {{ user.last_name }} </span> <a class="button" href="{% url 'update-profile' %}">Update Profile</a>
			<ul id="profile_info">
		        <li>{{ user.email }}</li>
		        <li>{{ user.profile.website }}</li>
		        {% if user.profile.picture %}
		        	<img src="{{ user.profile.picture.url }}" alt="Profile Picture" width="128" height="128" />
		        {% endif %}
		    </ul>
		</div>
    </div>

    <div id="profile_area">
    	Profile Stream Stuff goes here
    </div> 
{% endblock %}