{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title %}{{ user.username }}{% endblock %}

{% block body_block %}
	<div id="side_navigation">
    	<div class="side_container">
			<img class="logo" href="/rango/index" src="{% static 'images/social_music_logo.svg' %}" alt="logo">
		</div>
		<div class="side_container">
			<a class="nav_bar_link" href="{% url 'index' %}"> Stream </a>
		</div>
		<div class="side_container">
			<a class="nav_bar_link" href="{% url 'profile' %}"> Profile </a>
		</div>
		<div class="side_container">
			<a class="nav_bar_link" href="{% url 'logout' %}"> Log Out </a>
		</div>
    </div>
    <div id="top_bar">
    	<div id="upper_top_bar">
	    	<span id="page_title"> Profile: <span class="name"> {{ user.first_name }} {{ user.last_name }} </span></span>
	    	<span id="user_website"> {{ user.profile.website }} </span>
			<a id="update_button" class="button" href="{% url 'update-profile' %}">Update Profile</a>
	    	<a id="upload_button" class="button" href="/rango/upload"> Upload </a>
		</div>
    </div>

    <div class="stream_content_area">
    	{% if content_list %}
            {% for content in content_list %}
            <div class="stream_item">
                <p> <span class="item_name"> {{ content.title }} </span> by {{ content.artist }} on {{ content.album }} </p>
                <p>Genre: {{ content.genre }}</p>
                <p>Description: {{ content.description }}</p>
                 <audio controls>
                  <source src="{{ content.media.mediaFile.url }}" type="audio/mpeg">
                Your browser does not support the audio element.
                </audio> 
            </div>
            {% endfor %}
        {% endif %}
    </div> 
{% endblock %}