{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title %}Register{% endblock %}

{% block body_block %}
    <div id="register">
        <img class="logo" src="{% static 'images/social_music_logo.svg' %}" alt="logo"> 
        <h1 class="login_header"> Sign Up </h1>

        {% if registered %}
        <div>
            <strong> Thank you for registering!</strong>
            <a href="/rango/">Return to the homepage.</a><br />
        </div>
        {% else %}

        <form id="user_form" method="post" action="/rango/register/">

            {% csrf_token %}
            
            {{ user_form.as_p }}
            {{ profile_form.as_p }}

            <!-- Provide a button to click to submit the form. -->
            <input class="button" type="submit" name="submit" value="Register" />
        </form>
        <div class="input_sizing_box">
            <span id="to_login"> Already have a Profile? <a href="{% url 'login' %}"> Sign In</a> </span>
        </div>
    </div>
    {% endif %}
{% endblock %}