{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title %}Update Profile{% endblock %}

{% block body_block %}
	
	<h1>Update Your Profile</h1>

    {% if user.is_authenticated %}
    	{% if updated %}
    		<p>Profile successfully updated!</p>
    	{% else %}

	        <form id="user_form" method="post" action="/rango/update-profile/" enctype="multipart/form-data">>

	            {% csrf_token %}

	            <!-- Display each form. The as_p method wraps each element in a paragraph
	                 (<p>) element. This ensures each element appears on a new line,
	                 making everything look neater. -->
	            {{ user_form.as_p }}
	            {{ profile_form.as_p }}

	            <!-- Provide a button to click to submit the form. -->
	            <input type="submit" name="submit" value="Update" />
	        </form>

	    {% endif %}
    {% else %}
        <h1>You took a wrong turn!</h1>
    {% endif %}

{% endblock %}